body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    /* Aquí puedes cambiarlo por una imagen si prefieres */
    font-family: Arial, sans-serif;
    background-image: url('../../img/fondoSnake.avif');
    /* Si quieres usar una imagen */
    background-size: cover;
    /* Para que la imagen cubra todo el fondo */
    background-position: center;
    margin: 0;

}

.menu-container {
    text-align: center;
    background-color: #5e1111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-container {
    text-align: center;
    position: relative;
}

canvas {
    background-color: transparent;
    /* Hacer el fondo del canvas transparente */
    border: 2px solid #000;
    /* Agregar un borde al área de juego si lo prefieres */
}

#score {
    margin-top: 10px;
    font-size: 18px;
    color: white;
    background-color: rgba(156, 91, 91, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
}


.menu-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fffafa;
}

.menu-container label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #fffafa;
}

.menu-container input,
.menu-container select {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #fffafa;
    font-size: 16px;
}

#startGameBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#startGameBtn:hover {
    background-color: #2980b9;
}